@font-face {
  font-family: 'icomoon', 'lobster';
}
h2 {
  font-family: 'lobster' serif;
  margin-top: -50px;
  font-size: 35px;
  line-height: 1.2;
}

h1 {
  margin-bottom: 45px;
  font-size: 55px;
  line-height: 1.2;
}

header {
  padding: 0px 20px 0px 20px;
  font-size: 14px;
}

body {
  color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  background: #262730;
}

.footer {
  background: #1B1B26;
  position: absolute;
  padding-top: 15px;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

.social-buttons {
  height: auto;
  margin: auto;
  padding: 40px;
  text-align: center;
}

.social-button {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  margin: 0 10px;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
}
.social-button .fa {
  font-size: 40px;
  padding: 20px;
  vertical-align: middle;
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.facebook .fa {
  color: #3B5998;
}
.social-button.tumblr .fa {
  color: #36465d;
}
.social-button.codepen .fa {
  color: #333;
}
.social-button.twitter .fa {
  color: #3CF;
}
.social-button.google .fa {
  color: #DC4A38;
}
.social-button.instagram .fa {
  color: #3f729b;
}
.social-button.dribbble .fa {
  color: #F26798;
}
.social-button.skype .fa {
  color: #00AFF0;
}
.social-button:hover .fa {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 400px) {
  .footer {
    position: relative;
    padding: 10px 0 10px 0px;
  }
}
