// bower:scss
// endbower

@font-face {font-family: 'icomoon', 'lobster';}
$transition: all 0.35s cubic-bezier(0.310, -0.105, 0.430, 1.590);
$size: 90px;
$full:100%;
$shade: 1px 0px 0px 0px rgba(0,0,0,0.05), 2px 0px 3px 3px rgba(0,0,0,0.1);
h2 {
  font-family:'lobster' serif;
  margin-top: -50px;
  font-size: 35px;
  line-height: 1.2;
}
h1 {
  margin-bottom: 45px;
  font-size: 55px;
  line-height: 1.2;
}
header {
  padding: 0px 20px 0px 20px;
  font-size: 14px;
}
body {
  color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  background: #262730;
}
.footer {
  background: #1B1B26;
  position:absolute;
  padding-top: 15px;
  width:100%;
  margin:0;
  bottom:0;
  left:0;
}
a {
  color: #4183c4;
  text-decoration: none;
}
//animations

//social media colors
$colors: (
  "facebook": "#3B5998",
  "tumblr": "#36465d",
  "codepen": "#333",
  "twitter": "#3CF",
  "google": "#DC4A38",
  "instagram": "#3f729b",
  "dribbble": "#F26798",
  "skype": "#00AFF0"
);
.social-buttons {
  height: auto;
  margin: auto;
  padding: 40px;
  text-align: center;
}

.social-button {  
  display: inline-block;
  background-color: #fff;
  width: $size;
  height: $size;
  margin: 0 10px;
  text-align: center;
  overflow: hidden;
  //overflow bug fix
  border-radius: 50%;
  
  .fa {
    font-size: 40px;
    padding: 20px;
    vertical-align: middle;
    transition: $transition;
  }
  
  @each $class,$color in $colors {
    
    &.#{$class} {   
      .fa {
        color: #{$color};
      }
    }
  }
  &:hover {
    .fa {
      transform: scale(1.2);
    }
  }
}
// Media Queires
@media(max-width:400px) {
    .footer {
        position:relative;
        padding: 10px 0 10px 0px;
    }
}
