doctype html
html(lang="en")
 head
  title GitHub Pages
  meta(charset="utf-8")
 body
  #container
    header
      h1 Siyanda on Github
      h2 & the elsewhere
    .main
      .social-buttons
         each name in ['github','twitter','instagram','tumblr','codepen']
            a.social-button( target="_blank" href="#",class=name): i.fa(class="fa-"+name)
  .footer
        p Hosted by GithubPages